* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.stop-scroll{
    height: 100%;
    overflow: hidden;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: auto;
}

nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.nav_logo {
    display: flex;
}

.logo_text {
    color: white;
    margin: auto 0px auto 10px;
    font-size: 23px;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    margin: 10px 0px 10px 15px;
    height: 80px;
    width: 80px;
}

nav ul {
    float: right;
    /* margin-right: 80px;
    margin-top: -116px; */
    margin: auto 30px auto auto;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    margin: auto auto;
    color: white;
    font-size: 23px;
    padding: 7px 23px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    /* background: none; */
    color: rgb(115, 5, 158);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* <========================MAIN AREA========================> */
.about-us {
    background-image: linear-gradient(to bottom, #4c0f54, #35184e, #201a43, #121835, #0c1425, #121526);
    width: 98%;
    /* height: 700px; */
    margin: 0px auto 0px;
    /* border-radius: 0 0 70px 70px; */
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    margin: 10px 0px;
}

.fog {
    /* background-image: linear-gradient(#333333,#3B163F,#3B163F,#333333); */
    /* opacity: 0.2; */
    background-color: rgba(36, 27, 38, 1);
    box-shadow: 0px 0px 60px rgba(70, 60, 73, 1) inset;
    height: 450px;
    width: 97%;
    border-radius: 70px;
    margin: 0 auto 0 auto;
    display: flex;
}

.fog-content {
    font-size: 25px;
    color: white;
    width: 50%;
    margin: auto auto;
    text-align: justify;
    justify-content: center;
}


.fog img {
    height: 325px;
    width: 325px;
    margin: auto auto;
    background-color: transparent;
}


.our-vision {
    background-image: linear-gradient(to bottom,#171627, #1c1727, #351a30, #501b2d, #642320, #6b3509);

    width: 98%;
    margin: 0 auto;
    /* border-radius: 0 0 70px 70px; */
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-vision h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    margin: 10px 0px;
}

.fog-vision {
    /* background-image: linear-gradient(#333333,#3B163F); */
    /* opacity: 0.2; */
    background-color: rgba(44, 41, 44, 1);
    box-shadow: 0px 0px 60px rgba(70, 60, 73, 1) inset;
    height: 450px;
    width: 97%;
    border-radius: 70px;
    margin: 0px auto 30px auto;
    display: flex;
}

.fog-vision img {
    height: 400px;
    width: 400px;
    margin: auto auto;
}

/* <========================FOOTER========================> */
.footer-logo {
    height: 100px;
    width: 100px;
}

.footer {
    padding-top: 30px;
    padding-left: 80px;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    /* height: 450px; */
    background: black;
}

.footer-content {
    color: white;
    /* display: inline-block; */
    width: 700px;
    height: 30px;
    text-align: justify;
    justify-content: center;
}

.right-box {
    margin: 0px auto;
}

.email,
.msg,
.addr {
    color: white;
}

.copyright {
    color: white;
    position: relative;
    bottom: 40px;
}

.right-heading {
    color: rgb(115, 5, 158);
    text-align: center;
    font-size: 37px;
}

.main-content {
    display: flex;
}

.social-list {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.social-elem {
    margin: 13px;
    font-size: 35px;
    
}

.social-elem a{
    color: white;
}

.social-elem i:hover {
    transition: .3s;
    color: rgb(115, 5, 158);
}

.linkedin {
    margin-bottom: 20px;

}

.submit {
    background: rgb(115, 5, 158);
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 50px 5px 50px;
    color: white;
    margin-left: 64px;
}

.email,
.msg {
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.message {
    width: 307px;
    height: 90px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: transparent;
    border: 2px solid rgb(115, 5, 158);
    outline: none;
    padding: 0 15px;
    padding-top: 10px;
    font-size: 15px;

    font-family: 'Poppins', sans-serif;
    color: white;
}

.mail {
    font-family: 'Poppins', sans-serif;
    width: 307px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    background: transparent;
    border: 2px solid rgb(115, 5, 158);
    outline: none;
    font-size: 10px;
    padding: 0 15px;
    font-size: 15px;
    color: white;
}

.mailarea {
    position: absolute;
    top: 1808px;
    left: 1014px;
    /* font-size: 18px; */
    transition: top .3s;
    padding: 0 5px;
}

.msgarea {
    position: absolute;
    top: 1865px;
    left: 1014px;
    transition: top .3s;
    /* font-size: 18px; */
    padding: 0 5px;
}

.mail:hover~.mailarea {
    transition: top .3s;
    top: 1788px;
    background-color: black;
    padding: 0 5px;
}

.clicked-mail {
    transition: top .3s;
    top: 1788px;
    background-color: black;
    padding: 0 5px;
}

.message:hover~.msgarea {
    transition: top .3s;
    top: 1848px;
    background-color: black;
    padding: 0 5px;
}

.clicked-msg {
    transition: top .3s;
    top: 1848px;
    background-color: black;
    padding: 0 5px;
}


/*<============================media queries============================> */

@media(max-width:1025px) {
    /* <==========================NAVBAR==========================> */

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .logo {
        margin: 10px 0px 10px 15px;
        height: 80px;
        width: 80px;
    }

    .logo_text {
        margin: auto 0px auto 10px;
        font-size: 20px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 7px 4px;
    }

    nav ul{
        margin: auto auto;
    }

    /* <=========================about-us====================> */



    .about-us h1 {
        font-size: 45px;
        margin: 20px 0px;
    }

    .fog-content {
        font-size: 20px;
    }

    .fog img {
        height: 250px;
        width: 250px;
    }

    .our-vision h1 {
        font-size: 45px;
        margin: 20 0px;
    }

    .fog-vision img {
        height: 300px;
        width: 300px;
    }

    /* <================================FOOTER==========================> */

    .left-box{
        width: 50%;
        margin: 0px auto;
    }

    .footer {
        padding: 0px;
        height: 450px;
    }

    .footer-content{
        width: 100%;
    }

    .footer-logo{
        margin-bottom: 10px;
    }

    .addr{
        margin-top: 30px;
    }

    .copyright {
        /* color: white;
        display: flex;
        position: absolute;*/
        top: 1700px;
        display: block;
        position: inherit;
        text-align: center;
        margin-top: 20px;
    }
}

@media(max-width:700px) {

    /* <========================navbar========================> */

    .checkbtn {
        display: block;
    }

    .nav_logo ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(36, 27, 38, 1);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        background: none;
        color: rgb(115, 5, 158);
    }
    
    .logo {
        margin: 10px 0px 10px 15px;
        height: 60px;
        width: 60px;
    }
    
    .logo_text {
        display: none;
    }
    
    #check:checked~.nav_logo ul {
        left: 0;
    }

    

    /* <=========================Main Area=========================> */

    .about-us h1 {
        font-size: 30px;
        margin: 10px 0px;
    }

    .fog{
        width: 90%;
    }

    .fog-vision{
        width: 90%;
    }

    .about-us {
        height: 500px;
    }


    .fog img {
        display: block;
        height: 160px;
        width: 160px;
        margin: 30px auto;
    }

    .fog-content {
        position: absolute;
        display: block;
        width: 83%;
        margin:200px 0px 200px 10px;
        font-size: 14px;
        text-align: justify;
        justify-content: center;
    }

    .our-vision h1 {
        font-size: 30px;
        margin: 10px 0px;
    }

    .our-vision {
        height: 545px;
    }

    .fog-vision img {
        display: block;
        height: 230px;
        width: 230px;
        margin: 0px auto;
    }

    /* <===========================Footer===========================> */
    .footer {
        padding: 0;
        bottom: 0px;
        width: 100%;
        background: black;
    }

    .footer-logo {
        display: block;
        height: 80px;
        width: 80px;
        margin: 0px auto;
    }

    .main-content {
        display: block;
    }

    .addr {
        margin-top: 50px;
    }

    .email {
        margin-top: 20px;
    }

    .left-box {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }

    .addr{
        margin-top: 45px;
    }

    .mailarea {
        top: 1697px;
        left: 110px;
    }

    .msgarea {
        top: 1753px;
        left: 110px;
    }

    .mail:hover~.mailarea {
        top: 1679px;
    }

    .message:hover~.msgarea {
        top: 1740px;
    }

    .clicked-mail {
        top: 1679px;
    }

    .clicked-msg {
        top: 1740px;
    }

    .footer-content {
        text-align: justify;
        justify-content: center;
    }

    .submit {
        display: block;
        margin: auto auto;
    }

    .social-list {
        justify-content: space-between;
        padding-bottom: 0px;
    }

    .copyright {
        display: block;
        position: inherit;
        text-align: center;
        margin-top: 20px;
    }
}

@media(max-width:281px) {
    .about-us {
        height: 600px;
    }
    .fog{
        height: 520px;
    }
    
    .fog-vision{
        height: 1000px;
    }

    .our-vision{
        height: 616px;
    }
    
    .fog-vision img{
        height: 200px;
        width: 200px;
    }

/* <==============================FOOTER==========================> */

    .addr{
        margin-top: 100px;
    }

    .social-elem{
        font-size: 30px;
    }

    .mail,.message{
        width: 250px;
    }
}
